body{
    direction: ltr;
    text-align: right;
}


.main-footer .footer-column h2::before {
  content: '';
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 70px;
  border-bottom: 3px solid #fc721e;
    left: auto;
}
.main-footer .footer-column h2::after {
  content: '';
  position: absolute;
  right: 0px;
  bottom: 4px;
  width: 70px;
  border-bottom: 1px solid #fc721e;
    left: auto;
}

input , textarea{
  text-align: right;
  direction: rtl;
}

.gallery-widget .owl-controls {
  padding: 0px !important;
  margin: 0px 0px 0px !important;
  position: absolute;
  top: -70px;
  right: auto;
}

.newsletter-style-one .form-group .floated-icon {
  position: absolute;
  left: 20px;
  top: 50%;
  font-size: 15px;
  color: #a04c18;
  line-height: 24px;
  margin-top: -12px;
  opacity: 0.80;
  right: auto;
}


.haman{
  display: flex;
  flex-direction: row-reverse;
}