body{
    direction: ltr;
    text-align: right;
}


.main-footer .footer-column h2::before {
  content: '';
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 70px;
  border-bottom: 3px solid #fc721e;
    left: auto;
}
.main-footer .footer-column h2::after {
  content: '';
  position: absolute;
  right: 0px;
  bottom: 4px;
  width: 70px;
  border-bottom: 1px solid #fc721e;
    left: auto;
}

input , textarea{
  text-align: right;
  direction: rtl;
}

.gallery-widget .owl-controls {
  padding: 0px !important;
  margin: 0px 0px 0px !important;
  position: absolute;
  top: -70px;
  right: auto;
}

.newsletter-style-one .form-group .floated-icon {
  position: absolute;
  left: 20px;
  top: 50%;
  font-size: 15px;
  color: #a04c18;
  line-height: 24px;
  margin-top: -12px;
  opacity: 0.80;
  right: auto;
}

.sec-title h2::after {
  position: absolute;
  content: '';
  width: 70px;
  height: 1px;
  right: 0px;
  bottom: 3px;
  background-color: #fc721e;
  left: auto;
}

.sec-title h2::before {
  position: absolute;
  content: '';
  width: 70px;
  height: 2px;
  right: 0px;
  bottom: 0px;
  background-color: #fc721e;
  left: auto;
}

.haman_right{
  text-align: right;
}
.haman_left{
  text-align: left;
}

.sidebar-title h3::before {
  position: absolute;
  content: '';
  width: 70px;
  height: 2px;
  left: auto;
  right: 0px;
  bottom: 0px;
  background-color: #fc721e;
}
.sidebar-title h3::after {
  position: absolute;
  content: '';
  width: 70px;
  height: 1px;
  left: auto;
  right: 0px;
  bottom: 3px;
  background-color: #fc721e;
}
.related-products .owl-controls .owl-nav {
    margin: 0px !important;
    position: absolute;
    top: -80px;
    left: -85%;
    /* right: 0px; */
}
