{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
	{% translate 'agriculture products' %}
{% endblock title %}
{% block servicesc %}current{% endblock servicesc%}
{% block servicescz %}current{% endblock servicescz%}
{% block body %}

    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'haman/images/background/bg-page-title-1.jpg' %});">
        <div class="auto-container">
            <h1>{% translate 'agriculture products' %}</h1>
        </div>
    </section>

    <!--Page Info-->
    <section class="page-info">
        <div class="auto-container clearfix">
            <div class="pull-left"><h2>{% translate 'agriculture products' %}</h2></div>
            <div class="pull-right">
                <ul class="bread-crumb clearfix">
                    <li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
                    <li><a href="{% url 'services' %}">{% translate 'Services' %}</a></li>
                    <li>{% translate 'agriculture products' %}</li>
                </ul>
            </div>
        </div>
    </section>

    <!--Sidebar Page-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">


                <!--Sidebar-->
                <div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <aside class="sidebar">

                        <!--Sidebar Widget / Boxed Nav-->
                        {% include 'services-side.html' with agriculture="current" only %}

                        <!--Sidebar Widget / Downloads-->
                        <div class="widget sidebar-widget downloads">
                            <div class="sidebar-title"><h3>{% translate 'Our Brochures' %}</h3></div>
                            <ul>
                                <li class="haman_left"><a href="#"><span class="icon fa fa-file-pdf-o"></span> Download.Pdf</a></li>
                                <li class="haman_left"><a href="#"><span class="icon fa fa-file-word-o"></span> Download.Doc</a></li>
                            </ul>
                        </div>


                    </aside>
                </div><!--End Sidebar-->

                <!--Content Side-->

                <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    <!--Service Single-->
                    <section class="service-details">
                    	<!--Service Images-->
                        <div class="service-images">
                            <ul class="single-item-carousel">
                                <li><figure class="image-box"><a href="{% static 'haman/images/resource/services/baner-k1.jpg' %}" class="lightbox-image" title="Image Caption Here"><img src="{% static 'haman/images/resource/services/baner-k1.jpg' %}" alt="agriculture products photo"></a></figure></li>
                                <li><figure class="image-box"><a href="{% static 'haman/images/resource/services/baner-k2.jpg' %}" class="lightbox-image" title="Image Caption Here"><img src="{% static 'haman/images/resource/services/baner-k2.jpg' %}" alt="agriculture products photo"></a></figure></li>
                                <li><figure class="image-box"><a href="{% static 'haman/images/resource/services/baner-k3.jpg' %}" class="lightbox-image" title="Image Caption Here"><img src="{% static 'haman/images/resource/services/baner-k3.jpg' %}" alt="agriculture products photo"></a></figure></li>


                            </ul>
                        </div>

                       	<div class="sec-title"><h2>{% translate 'agriculture products' %}</h2></div>
                        <!--Text Content-->
                        <div class="text-content">
                            <h3>{% translate 'Direct supply of agricultural products with the best quality and price' %}</h3>
                            <h3>{% translate 'Quality assurance, reasonable price and fast delivery' %}</h3>
                        	<p>{% translate 'In the world of agriculture, the use of high-quality and reliable fertilizers is one of the most important factors in increasing the yield of farmland and gardens. With years of experience in the direct supply and distribution of agricultural fertilizers, we assure you that we will provide you with urea, sulfur, diammonium phosphate and other agricultural inputs without intermediaries, with guaranteed quality and at competitive prices.' %}</p>
                            <h3>{% translate 'Direct supply from reliable sources' %}</h3>
                            <p>{% translate 'We source and deliver agricultural fertilizers directly from reputable domestic and international manufacturers and petrochemicals. This method not only reduces costs, but also ensures that you receive an original, high-quality, and standardized product.' %}</p>
                            <h3>{% translate 'Guaranteed quality and international standards' %}</h3>
                            <p>{% translate 'All our products have quality approvals and valid standards. The urea, sulfur and diammonium phosphate fertilizers we offer are of high purity, effective performance and fully comply with the needs of modern agriculture. These products improve the growth and yield of your final product by increasing soil productivity and providing the nutrients needed by plants.' %}</p>
                            <h3>{% translate 'Competitive prices and elimination of intermediaries' %}</h3>
                            <p>{% translate 'By buying directly from us, you no longer need to pay extra fees to middlemen. We offer products at real and fair prices so you can get the most out of your investment in agriculture.' %}</p>
                            <h3>{% translate 'Fast and secure shipping nationwide' %}</h3>
                            <p>{% translate 'We are aware of the importance of timely delivery of agricultural inputs. For this reason, using a reliable transportation network and careful planning, we deliver the products to you in the shortest possible time and with safe packaging.' %}</p>
                            <h3>{% translate 'Expert advice and ongoing support' %}</h3>
                            <p>{% translate 'Agriculture is a dynamic and changing industry, and choosing the right crop has a direct impact on the yield and health of the soil and plants. Our expert team will help you make the best choice for your farmland by providing technical and scientific advice.' %}</p>
                            <h3>{% translate 'Our products include:' %}</h3>
                            <ul>
                                <li>{% translate 'Urea fertilizer – rich in nitrogen to increase plant growth' %}</li>
                                <li>{% translate 'Sulfur – improves soil quality and meets plant nutritional needs' %}</li>
                                <li>{% translate 'Diammonium Phosphate (DAP) – Excellent source of phosphorus and nitrogen for stronger crop growth' %}</li>
                            </ul>
                            <h3>{% translate 'We are the reliable companion of farmers and producers!' %}</h3>
                            <p>{% translate 'Our goal is to provide you with a safe and hassle-free agricultural product purchasing experience. If you are looking for a reliable, quality and professional supplier, contact us today and experience a different shopping experience.' %}</p>
                            <h4>{% translate 'We are always ready to respond and provide the best products for your success in agriculture!' %}</h4>
                             </div>

                        <!--Service Types-->
                        <div class="service-types">
                        	<div class="row clearfix">
                            	<!--Service Type-->
                                <div class="service-type col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                	<div class="inner-box">
                                    	<figure class="image-box"><img src="{% static 'haman/images/resource/services/k1.jpg' %}" alt="{% translate 'agriculture products photo' %}"></figure>
                                        <div class="lower-content">
                                            <ul class="list-style-one">
                                            	<li>{% translate "A country's agricultural growth is directly related to its fertilizers." %}</li>
                                                <li>{% translate 'Our company guarantees the quality of its fertilizers.' %}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!--Service Type-->
                                <div class="service-type col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                	<div class="inner-box">
                                    	<figure class="image-box"><img src="{% static 'haman/images/resource/services/k2.jpg' %}" alt="{% translate 'agriculture products photo' %}"></figure>
                                        <div class="lower-content">
                                            <ul class="list-style-one">
                                            	<li>{% translate 'Our specialty is supplying chemical fertilizers from petrochemicals.' %}</li>
                                                <li>{% translate 'We can ship our products to you on FOB and CIF terms.' %}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!--Service Type-->
                                <div class="service-type col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                	<div class="inner-box">
                                    	<figure class="image-box"><img src="{% static 'haman/images/resource/services/k3.jpg' %}" alt="{% translate 'agriculture products photo' %}"></figure>
                                        <div class="lower-content">
                                            <ul class="list-style-one">
                                            	<li>{% translate 'To protect the environment and soil, avoid excessive use of chemical fertilizers.' %}</li>
                                                <li>{% translate 'We are responsive to you with fast support.' %}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>



                        <!--Get Quote-->
                        <div class="get-quote">
                            <div class="sec-title medium"><h2>{% translate 'Get a free consultation' %}</h2></div>
                                <div class="row clearfix">
                                    <!--Content COlumn-->
                                    <!--Form Column-->
                                    <div class="column col-lg-8 col-md-12 col-sm-12 col-xs-12">
                                        <!--form-box-->
                                        <div class="form-box default-form">
                                            <div class="contact-form default-form">
                                                <form method="post" action="{% url 'savemessages' %}" id="mform">
                                                    <div class="row clearfix">
                                                            {% csrf_token %}
                                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                            <input type="text" name="subject" value="" placeholder="{% translate 'subject' %}">
                                                        </div>

                                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                            <input type="text" name="username" value="" placeholder="{% translate 'Your Name *' %}" required>
                                                        </div>

                                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                            <input type="email" name="email" value="" placeholder="{% translate 'Your Mail *' %}" required>
                                                        </div>

                                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                            <input type="text" name="number" value="" placeholder="{% translate 'Phone Number' %}">
                                                        </div>

                                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                            <textarea name="message" placeholder="{% translate 'Message *' %}"></textarea>
                                                        </div>
                                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                            <button type="submit" class="theme-btn btn-style-two">{% translate 'Get Quote' %}</button>
                                                        </div>
                                                        <div id="response">

                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>

                    </section>
                </div><!--End Content Side-->

            </div>
        </div>
    </div>


{% endblock body %}

{% block escript %}
    <script>

        $(document).ready(function() {

            $('#mform').on('submit', function(event) {

                {#event.preventDefault(); // Prevent the default form submission#}


                $.ajax({

                    type: 'POST',

                    url: '{% url "savemessages" %}',  // Replace with your view's URL

                    data: $(this).serialize(), // Serialize the form data

                    success: function(response) {

                        if (response.success) {

                            $('#response').html('<p>' + response.message + '</p>');

                        } else {

                            $('#response').html('<p>Error: ' + JSON.stringify(response.errors) + '</p>');

                        }

                    },

                    error: function(xhr, status, error) {

                        $('#response').html('<p>An error occurred: ' + error + '</p>');

                    }

                });

            });

        });

    </script>
{% endblock %}