{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
<meta charset="utf-8">
    <!-- Author Meta -->
    <meta name="author" content="starkteam, palayeshcoode, استارک تیم,پالایش گوود">
    <!-- Meta Description -->
    <meta name="description" content="{% block description %}main page of palayeshcood.com{% endblock description %}">
    <!-- Meta Keyword -->
    <meta name="keywords" content="palayeshcood, palayeshkood, استارک تیم, پالایش کود,{% block keywords%}{% endblock keywords%}">


    <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
	<meta property="og:locale" content="{{ LANGUAGE_CODE }}" />
{% if LANGUAGE_CODE == 'fa'%}
    <meta property="og:locale:alternate" content="en_US" />
{% else %}
	<meta property="og:locale:alternate" content="fa_IR" />
{% endif %}
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://palayeshcood.com/" />


    <title>{% translate 'پالایش کود' %} | {% block title %}{% endblock title %}</title>
    <!-- Stylesheets -->
    <link href="{% static 'haman/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'haman/css/revolution-slider.css' %}" rel="stylesheet">
    <link href="{% static 'haman/css/style.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'haman/images/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'haman/images/favicon.ico' %}" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="{% static 'haman/css/responsive.css' %}" rel="stylesheet">
    <!--[if lt IE 9]><script src="{% static 'haman/cdn/html5shiv.js' %}"></script><![endif]-->
    <!--[if lt IE 9]><script src="{% static 'haman/js/respond.js' %}"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">

    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Main Header-->
    <header class="main-header">
    	<!-- Header Top -->
{#    	<div class="header-top">#}
{#        	<div class="auto-container">#}
{#            	<div class="row clearfix">#}
{##}
{#                    <!--Top Left-->#}
{#                    <div class="top-left pull-left">#}
{#                    	<div class="dropdown lang-dropdown">#}
{#                        	<button  class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><img src="{% static 'haman/images/icons/flog.png' %}" alt="" /> &nbsp; English <span class="fa fa-angle-down"></span></button>#}
{#                            <ul class="dropdown-menu">#}
{#                                <li><a href="#">French</a></li>#}
{#                                <li><a href="#">Espanish</a></li>#}
{#                                <li><a href="#">Chinese</a></li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <!--Top Right-->#}
{#                    <div class="top-right pull-right">#}
{##}
{#                    	<!--social-icon-->#}
{#                        <div class="social-icon">#}
{#                        	<a href="#"><span class="fa fa-facebook"></span></a>#}
{#                            <a href="#"><span class="fa fa-twitter"></span></a>#}
{#                            <a href="#"><span class="fa fa-dribbble"></span></a>#}
{#                            <a href="#"><span class="fa fa-linkedin"></span></a>#}
{#                        </div>#}
{##}
{#                    	<ul>#}
{#                        	<li><span class="fa fa-envelope-o"></span>Contact@Decorators.com</li>#}
{#                            <li><span class="fa fa-phone"></span>Toll Free: +1 212-212-2376</li>#}
{#                            <li><span class="fa fa-clock-o"></span>Mon - Fri : 9:00 -1700</li>#}
{#                        </ul>#}
{##}
{##}
{#                    </div>#}
{##}
{#                </div>#}
{##}
{#            </div>#}
{#        </div><!-- Header Top End -->#}


        <!-- Main Box -->
    	<div class="main-box">
        	<div class="auto-container">
            	<div class="outer-container clearfix">
                    <!--Logo Box-->
                    <div class="logo-box">
                        <div class="logo"><a href=""><img src="{% static 'haman/images/logo.png' %}" alt=""></a></div>

                    </div>

                    <!--Nav Outer-->
                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li class="current"><a href="">Home</a></li>
                                    <li class="dropdown"><a href="#">About Us</a>
                                    	<ul>
                                            <li><a href="about-us.html">About Us</a></li>
                                            <li><a href="our-team.html">Our Team</a></li>
                                            <li><a href="team-single.html">Team Single</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Services</a>
                                    	<ul>
                                            <li><a href="services.html">Our Services</a></li>
                                            <li><a href="service-single.html">Services Single</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Projects</a>
                                    	<ul>
                                            <li><a href="portfolio-default.html">Projects Standard</a></li>
                                            <li><a href="portfolio-fullwidth.html">Projects Fullwidth</a></li>
                                            <li><a href="portfolio-with-text.html">Projects With Text</a></li>
                                            <li><a href="portfolio-single-one.html">Projects Single 01</a></li>
                                            <li><a href="portfolio-single-two.html">Projects Single 02</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Blog</a>
                                    	<ul>
                                            <li><a href="blog.html">Blog Standard</a></li>
                                            <li><a href="blog-large-image.html">Blog Large Image</a></li>
                                            <li><a href="blog-single.html">Blog Single</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown"><a href="#">Shop</a>
                                        <ul>
                                            <li><a href="shop.html">Shop Products</a></li>
                                            <li><a href="shop-single.html">Shop Single</a></li>
                                            <li><a href="shopping-cart.html">Shopping Cart</a></li>
                                            <li><a href="checkout.html">Checkout</a></li>
                                            <li><a href="register.html">Login / Register</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown"><a href="#">Pages</a>
                                    	<ul>
                                            <li><a href="about-us.html">About Us</a></li>
                                            <li><a href="our-team.html">Our Team</a></li>
                                            <li><a href="team-single.html">Team Single</a></li>
                                            <li><a href="pricing.html">Pricing Table</a></li>
                                            <li><a href="faqs.html">FAQ's</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="contact.html">Contact</a></li>

                                 </ul>
                            </div>
                        </nav><!-- Main Menu End-->

                    </div><!--Nav Outer End-->

                    <!-- Hidden Nav Toggler -->
                    <div class="nav-toggler">
                    <button class="hidden-bar-opener"><span class="icon fa fa-bars"></span></button>
                    </div><!-- / Hidden Nav Toggler -->

                    <!--Search Btn-->
                    <div class="cart-btn-outer">
                        <form class="dropdown" id="changelangugefo" method="post" action="{% url 'set_language' %}">
                        {% csrf_token %}
                            <input type="hidden" value="" name="language" id="language">
                            <input type="hidden" value="{% autoescape off %}{% block next %}{{ request.path }}{% endblock next %}{% endautoescape %}" name="next" id="next">
                            {% if LANGUAGE_CODE == 'fa' %}
                                <button class="btn btn-primary dropdown-toggle" style="color: black;background-color: whitesmoke;" type="button" data-toggle="dropdown"><img src="{% static 'haman/images/icons/iran.png' %} " alt="iran flag logo"/> &nbsp; <span class="fa fa-angle-down"></span></button>
                            {% else %}
                                <button  class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><img src="{% static 'haman/images/icons/flog.png' %} " alt="british flag logo"/> &nbsp; <span class="fa fa-angle-down"></span></button>
                            {% endif %}
                            <ul class="dropdown-menu">
                                <li><button onclick="chLaToPe();"><img src="{% static 'haman/images/icons/iran.png' %} " alt="iran flag logo" /></button></li>
                                <li><button onclick="chLaToEn();"><img src="{% static 'haman/images/icons/flog.png' %} " alt="british flag logo" /></button></li>
                            </ul>
                        </form>
                    </div>
            	</div>
            </div>
        </div>

    </header>
    <!--End Main Header -->



{% block body %}
{% endblock body %}


     <!--Main Footer-->
    <footer class="main-footer" style="background-image:url({% static 'haman/images/background/footer-bg.jpg' %});">
    	<div class="auto-container">

            <!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	<!--Big Column-->
                	<div class="big-column col-md-6 col-sm-12 col-xs-12">
                    	<div class="row clearfix">

                            <!--Footer Column-->
                        	<div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            	<div class="footer-widget about-widget">
                                	<div class="footer-logo"><figure><a href="index-2.html"><img src="{% static 'haman/images/logo-4.png' %}" alt=""></a></figure></div>
                                    <div class="widget-content">
                                    	<div class="text">Must explain too you all this mistaken idea off denouncing pleasure and well praising pain was born and I will gives you complete accounts systems must explain to idea of denouncing.</div>
                                        <ul class="contact-info">
                                        	<li><span class="icon fa fa-map-marker"></span>Rock St 12, Newyork City, USA</li>
                                            <li><span class="icon fa fa-phone"></span>(526) 236-895-4732</li>
                                            <li><span class="icon fa fa-envelope-o"></span>Decoratorssuport@gmail.com</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!--Footer Column-->
                        	<div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            	<div class="footer-widget tags-widget">
                                	<h2>{% translate 'تگ های محبوب' %}</h2>
                                    <div class="widget-content">
                                    	<ul class="tags-list">
                                        	<li><a href="#">Designs</a></li>
                                            <li><a href="#">Tips</a></li>
                                            <li><a href="#">Interior</a></li>
                                            <li><a href="#">Doors</a></li>
                                            <li><a href="#">Curtains</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="footer-widget gallery-widget">
                                	<h2>{% translate 'کار های اخیر' %}</h2>
                                    <div class="gallery-widget-carousel">
                                    	<div class="item"><figure class="post-thumb"><img src="{% static 'haman/images/gallery/thumb-1.jpg' %}" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure></div>
                                        <div class="item"><figure class="post-thumb"><img src="{% static 'haman/images/gallery/thumb-2.jpg' %}" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure></div>
                                        <div class="item"><figure class="post-thumb"><img src="{% static 'haman/images/gallery/thumb-3.jpg' %}" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure></div>
                                        <div class="item"><figure class="post-thumb"><img src="{% static 'haman/images/gallery/thumb-4.jpg' %}" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure></div>
                                        <div class="item"><figure class="post-thumb"><img src="{% static 'haman/images/gallery/thumb-1.jpg' %}" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure></div>
                                        <div class="item"><figure class="post-thumb"><img src="{% static 'haman/images/gallery/thumb-2.jpg' %}" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure></div>
                                        <div class="item"><figure class="post-thumb"><img src="{% static 'haman/images/gallery/thumb-3.jpg' %}" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure></div>
                                        <div class="item"><figure class="post-thumb"><img src="{% static 'haman/images/gallery/thumb-4.jpg' %}" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure></div>
                                        <div class="item"><figure class="post-thumb"><img src="{% static 'haman/images/gallery/thumb-1.jpg' %}" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure></div>
                                        <div class="item"><figure class="post-thumb"><img src="{% static 'haman/images/gallery/thumb-2.jpg' %}" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure></div>
                                        <div class="item"><figure class="post-thumb"><img src="{% static 'haman/images/gallery/thumb-3.jpg' %}" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure></div>
                                        <div class="item"><figure class="post-thumb"><img src="{% static 'haman/images/gallery/thumb-4.jpg' %}" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!--Big Column-->
                	<div class="big-column col-md-6 col-sm-12 col-xs-12">
                    	<div class="row clearfix">

                            <!--Footer Column-->
                        	<div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            	<div class="footer-widget posts-widget">
                                	<h2>{% translate 'اخبار اخیر' %}</h2>
                                    <div class="widget-content">
                                    	<div class="posts">
                                            <div class="post">
                                                <figure class="post-thumb"><img src="{% static 'haman/images/resource/post-thumb-1.jpg' %}" alt=""><a href="#" class="overlay-link"><span class="flaticon-plus-1"></span></a></figure>
                                                <div class="desc-text"><a href="#">How mistakens denoncings pleasure and complete.</a></div>
                                                <div class="time"><span class="fa fa-clock-o"></span> Oct 03, 2015</div>
                                            </div>
                                            <div class="post">
                                                <figure class="post-thumb"><img src="{% static 'haman/images/resource/post-thumb-2.jpg' %}" alt=""><a href="#" class="overlay-link"><span class="flaticon-plus-1"></span></a></figure>
                                                <div class="desc-text"><a href="#">Pleasure praising pains was, expound actual teaching.</a></div>
                                                <div class="time"><span class="fa fa-clock-o"></span> Aug 21, 2015</div>
                                            </div>
                                        </div>
                                        <a class="view-more theme-btn" href="#">Read More <span class="fa fa-caret-right"></span></a>
                                    </div>
                                </div>
                            </div>

                            <!--Footer Column-->
                        	<div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            	<div class="footer-widget contact-widget">
                                	<h2>{% translate 'برای ما پیام بفرستید' %}</h2>
                                    <div class="widget-content">
                                        <div class="newsletter-form">
                                            <form method="post" action="#">
                                                <div class="form-group">
                                                    <input type="text" name="name" value="" placeholder="Name" required>
                                                </div>
                                                <div class="form-group">
                                                    <input type="email" name="email" value="" placeholder="Email *" required>
                                                </div>
                                                <div class="form-group">
                                                    <textarea name="message" placeholder="Message *" required></textarea>
                                                </div>
                                                <button type="submit" class="theme-btn btn-style-two">Send us</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                 </div>
             </div>

        </div>

        <!--Footer Bottom-->
         <div class="footer-bottom">
         	<div class="auto-container">
            	<div class="clearfix">
                	<div class="pull-left"><div class="copyright"><a href="https://www.templateshub.net" target="_blank">Templates Hub</a></div></div>
                    <div class="pull-right">
                    	<ul class="footer-nav">
                        	<li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


</div>
<!--End pagewrapper-->


<!--Search Popup-->
{#<div id="search-popup" class="search-popup">#}
{#	<div class="close-search theme-btn"><span class="flaticon-unchecked"></span></div>#}
{#	<div class="popup-inner">#}
{##}
{#    	<div class="search-form">#}
{#        	<form method="post" action="#">#}
{#            	<div class="form-group">#}
{#                	<fieldset>#}
{#                        <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required >#}
{#                        <input type="submit" value="Search" class="theme-btn">#}
{#                    </fieldset>#}
{#                </div>#}
{#            </form>#}
{##}
{#            <br>#}
{#            <h3>Recent Search Keywords</h3>#}
{#            <ul class="recent-searches">#}
{#                <li><a href="#">Business</a></li>#}
{#                <li><a href="#">Web Development</a></li>#}
{#                <li><a href="#">SEO</a></li>#}
{#                <li><a href="#">Logistics</a></li>#}
{#                <li><a href="#">Freedom</a></li>#}
{#            </ul>#}
{##}
{#        </div>#}
{##}
{#    </div>#}
{#</div>#}

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="fa fa-long-arrow-up"></span></div>
<script src="{% static 'haman/js/jquery.js' %}"></script>
<script src="{% static 'haman/js/bootstrap.min.js' %}"></script>
<script src="{% static 'haman/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'haman/js/revolution.min.js' %}"></script>
<script src="{% static 'haman/js/jquery.fancybox.pack.js' %}"></script>
<script src="{% static 'haman/js/jquery.fancybox-media.js' %}"></script>
<script src="{% static 'haman/js/isotope.js' %}"></script>
<script src="{% static 'haman/js/owl.js' %}"></script>
<script src="{% static 'haman/js/wow.js' %}"></script>
<script src="{% static 'haman/js/script.js' %}"></script>
<script src="{% static 'haman/js/changelanguge.js' %}"></script>
</body>


</html>