{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
{% block excss %}{% endblock excss %}
<meta charset="utf-8">
    <!-- Author Meta -->
    <meta name="author" content="starkteam, palayeshcoode, استارک تیم,پالایش کود">
    <!-- Meta Description -->
    <meta name="description" content="{% block description %}{% endblock description %}">
    <!-- Meta Keyword -->
    <meta name="keywords" content="palayeshcood, palayeshkood, استارک تیم, پالایش کود,{% block keywords%}{% endblock keywords%}">


    <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
	<meta property="og:locale" content="{{ LANGUAGE_CODE }}" />
{% if LANGUAGE_CODE == 'fa'%}
    <meta property="og:locale:alternate" content="en_US" />
    <meta property="og:locale:alternate" content="ar" />
    {% elif LANGUAGE_CODE == 'en' %}
    <meta property="og:locale:alternate" content="fa_IR" />
    <meta property="og:locale:alternate" content="ar" />
{% else %}
	<meta property="og:locale:alternate" content="fa_IR" />
        <meta property="og:locale:alternate" content="en_US" />
{% endif %}
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://palayeshcood.com/" />

    <title>{% translate 'Palayeshcood' %} | {% block title %}{% endblock title %}</title>
    <!-- Stylesheets -->
    <link href="{% static 'haman/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'haman/css/revolution-slider.css' %}" rel="stylesheet">
    <link href="{% static 'haman/css/style.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'haman/images/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'haman/images/favicon.ico' %}" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="{% static 'haman/css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'haman/css/haman.css' %}" rel="stylesheet">
{% if LANGUAGE_BIDI %}
    <link href="{% static 'haman/css/mamad.css' %}" rel="stylesheet">
{% endif %}
    <!--[if lt IE 9]><script src="{% static 'haman/cdn/html5shiv.js' %}"></script><![endif]-->
    <!--[if lt IE 9]><script src="{% static 'haman/js/respond.js' %}"></script><![endif]-->
</head>


<body>

<div class="page-wrapper">

    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Main Header-->
    <header class="main-header">
        <!-- Main Box -->
    	<div class="main-box">
        	<div class="auto-container">
            	<div class="outer-container clearfix">
                    <!--Logo Box-->
                    <div class="logo-box">
                        <div class="logo"><a href=""><img src="{% static 'haman/images/logo-main.png' %}" alt=""></a></div>

                    </div>

                    <!--Nav Outer-->
                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li class="{% block homec %}{% endblock homec %}"><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
                                    <li class="{% block servicesc %}{% endblock servicesc %}"><a href="{% url 'services' %}">{% translate 'Services' %}</a></li>

                                    <li class="dropdown"><a href="#">Blog</a>
                                    	<ul>
                                            <li><a href="blog.html">Blog Standard</a></li>
                                            <li><a href="blog-large-image.html">Blog Large Image</a></li>
                                            <li><a href="blog-single.html">Blog Single</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown"><a href="#">Shop</a>
                                        <ul>
                                            <li><a href="shop.html">Shop Products</a></li>
                                            <li><a href="shop-single.html">Shop Single</a></li>
                                            <li><a href="shopping-cart.html">Shopping Cart</a></li>
                                            <li><a href="checkout.html">Checkout</a></li>
                                            <li><a href="register.html">Login / Register</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown"><a href="#">Pages</a>
                                    	<ul>
                                            <li><a href="about-us.html">About Us</a></li>
                                            <li><a href="our-team.html">Our Team</a></li>
                                            <li><a href="team-single.html">Team Single</a></li>
                                            <li><a href="pricing.html">Pricing Table</a></li>
                                            <li><a href="faqs.html">FAQ's</a></li>
                                        </ul>
                                    </li>
                                    <li class="{% block aboutc %}{% endblock aboutc %} dropdown"><a href="#">{% translate 'About Us' %}</a>
                                    	<ul>
                                            <li><a href="{% url 'about' %}">{% translate 'About Us' %}</a></li>
                                            <li><a href="{% url 'team' %}">{% translate 'Our Team' %}</a></li>
                                        </ul>
                                    </li>
                                    <li class="{% block contactc %}{% endblock contactc %}"><a href="{% url 'contact' %}">{% translate 'Contact' %}</a></li>

                                 </ul>
                            </div>
                        </nav><!-- Main Menu End-->

                    </div><!--Nav Outer End-->

                    <!-- Hidden Nav Toggler -->
                    <div class="nav-toggler">
                    <button class="hidden-bar-opener"><span class="icon fa fa-bars"></span></button>
                    </div><!-- / Hidden Nav Toggler -->

                    <!--Search Btn-->
                    <div class="cart-btn-outer">
                        <form class="dropdown" id="changelangugefo" method="post" action="{% url 'set_language' %}">
                        {% csrf_token %}
                            <input type="hidden" value="" name="language" id="language">
                            <input type="hidden" value="{% autoescape off %}{% block next %}{{ request.path }}{% endblock next %}{% endautoescape %}" name="next" id="next">
                            {% if LANGUAGE_CODE == 'fa' %}
                                <button class="btn btn-primary dropdown-toggle" style="color: black;background-color: whitesmoke;" type="button" data-toggle="dropdown"><img src="{% static 'haman/images/icons/iran.png' %} " alt="iran flag logo"/> &nbsp; <span class="fa fa-angle-down"></span></button>
                            {% elif LANGUAGE_CODE == 'en' %}
                                <button  class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><img src="{% static 'haman/images/icons/flog.png' %} " alt="british flag logo"/> &nbsp; <span class="fa fa-angle-down"></span></button>
                            {% else %}
                                <button  class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><img src="{% static 'haman/images/icons/arab.png' %} " width="24px" height="14px" alt="Arabian flag logo"/> &nbsp; <span class="fa fa-angle-down"></span></button>
                            {% endif %}
                            <ul class="dropdown-menu" style="min-width: auto;">
                                <li><button onclick="chLaToPe();"><img src="{% static 'haman/images/icons/iran.png' %}" class="chanelangimg" alt="iran flag logo" /></button></li>
                                <li><button onclick="chLaToEn();"><img src="{% static 'haman/images/icons/flog.png' %}" class="chanelangimg" alt="british flag logo" /></button></li>
                                <li><button onclick="chLaToAr();"><img src="{% static 'haman/images/icons/arab.png' %}" class="chanelangimg" width="24px" height="14px" alt="Arabian flag logo" /></button></li>
                            </ul>
                        </form>
                    </div>
            	</div>
            </div>
        </div>

    </header>
    <!--End Main Header -->

     <!-- Hidden Navigation Bar -->
    <section class="hidden-bar right-align">

        <div class="hidden-bar-closer">
            <button class="btn"><i class="fa fa-close"></i></button>
        </div>

        <!-- Hidden Bar Wrapper -->
        <div class="hidden-bar-wrapper">

            <!-- .logo -->
            <div class="logo text-center">
                <a href="{% url 'home' %}"><img src="{% static '/haman/images/logo-main.png' %}" alt=""></a>
            </div><!-- /.logo -->

            <!-- .Side-menu -->
            <div class="side-menu">
            <!-- .navigation -->
                <ul class="navigation">
                    <li class="{% block homecz %}{% endblock homecz %}"><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
                    <li class="{% block servicescz %}{% endblock servicescz %}"><a href="{% url 'services' %}">{% translate 'Services' %}</a></li>

                    <li class="dropdown"><a href="#">Blog</a>
                        <ul class="submenu">
                            <li><a href="blog.html">Blog Standard</a></li>
                            <li><a href="blog-large-image.html">Blog large Image</a></li>
                            <li><a href="blog-single.html">Blog Single</a></li>
                        </ul>
                    </li>

                    <li class="dropdown"><a href="#">Shop</a>
                        <ul class="submenu">
                            <li><a href="shop.html">Shop Products</a></li>
                            <li><a href="shop-single.html">Shop Single</a></li>
                            <li><a href="shopping-cart.html">Shopping Cart</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                            <li><a href="register.html">Login / Register</a></li>
                        </ul>
                    </li>

                    <li class="dropdown"><a href="#">Pages</a>
                        <ul class="submenu">
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="our-team.html">Our Team</a></li>
                            <li><a href="team-single.html">Team Single</a></li>
                            <li><a href="pricing.html">Pricing Table</a></li>
                            <li><a href="faqs.html">FAQ's</a></li>
                        </ul>
                    </li>
                    <li class="{% block aboutcz %}{% endblock aboutcz %} dropdown"><a href="#">{% translate 'About Us' %}</a>
                        <ul>
                            <li><a href="{% url 'about' %}">{% translate 'About Us' %}</a></li>
                            <li><a href="{% url 'team' %}">{% translate 'Our Team' %}</a></li>
                        </ul>
                    </li>
                    <li class="{% block contactcz %}{% endblock contactcz %}"><a href="{% url 'contact' %}">{% translate 'Contact' %}</a></li>
                </ul>
            </div><!-- /.Side-menu -->

            <div class="social-icons">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>

        </div><!-- / Hidden Bar Wrapper -->
    </section>
    <!-- / Hidden Bar -->




{% block body %}
{% endblock body %}


     <!--Main Footer-->
    <footer class="main-footer" style="background-image:url({% static 'haman/images/background/footer-bg.jpg' %});">
    	<div class="auto-container">

            <!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	<!--Big Column-->
                	<div class="big-column col-md-6 col-sm-12 col-xs-12">
                    	<div class="row clearfix">

                            <!--Footer Column-->
                        	<div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            	<div class="footer-widget about-widget">
                                	<div class="footer-logo"><figure><a href="index-2.html"><img src="{% static 'haman/images/logo-4.png' %}" alt=""></a></figure></div>
                                    <div class="widget-content">
                                    	<div class="text">{% translate 'Palayeshcood Company, as a reputable distributor of chemicals, refineries and sugar, is ready to sell raw materials from petrochemicals, refineries and food factories all over the world and we are committed to meeting the needs of our valued customers in all regions. Join us and benefit from our expertise and experience. For more information and to place an order, contact us.' %}</div>
                                        <ul class="contact-info">
                                        	<li><span class="icon fa fa-map-marker"></span>{% translate 'Unit 31, Safavieh Office Complex, Rajaee St, Kashan, Iran' %}</li>
                                            <li><span class="icon fa fa-phone"></span><a href="tel:+9891300025744">+98(913) 0002-57-44</a></li>
                                            <li><span class="icon fa fa-envelope-o"></span><a href="mailto:info@palayeshcood.com">Info@Palayeshcood.com</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!--Footer Column-->
                        	<div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            	<div class="footer-widget tags-widget">
                                	<h2>{% translate 'Popular Tags' %}</h2>
                                    <div class="widget-content">
                                    	<ul class="tags-list">
                                        	<li><a href="#">Designs</a></li>
                                            <li><a href="#">Tips</a></li>
                                            <li><a href="#">Interior</a></li>
                                            <li><a href="#">Doors</a></li>
                                            <li><a href="#">Curtains</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="footer-widget gallery-widget">
                                	<h2>{% translate 'Recent Works' %}</h2>
                                    <div class="gallery-widget-carousel">
                                    	<div class="item"><figure class="post-thumb"><img src="{% static 'haman/images/gallery/thumb-1.jpg' %}" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure></div>
                                        <div class="item"><figure class="post-thumb"><img src="{% static 'haman/images/gallery/thumb-2.jpg' %}" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure></div>
                                        <div class="item"><figure class="post-thumb"><img src="{% static 'haman/images/gallery/thumb-3.jpg' %}" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure></div>
                                        <div class="item"><figure class="post-thumb"><img src="{% static 'haman/images/gallery/thumb-4.jpg' %}" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure></div>
                                        <div class="item"><figure class="post-thumb"><img src="{% static 'haman/images/gallery/thumb-1.jpg' %}" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure></div>
                                        <div class="item"><figure class="post-thumb"><img src="{% static 'haman/images/gallery/thumb-2.jpg' %}" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure></div>
                                        <div class="item"><figure class="post-thumb"><img src="{% static 'haman/images/gallery/thumb-3.jpg' %}" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure></div>
                                        <div class="item"><figure class="post-thumb"><img src="{% static 'haman/images/gallery/thumb-4.jpg' %}" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure></div>
                                        <div class="item"><figure class="post-thumb"><img src="{% static 'haman/images/gallery/thumb-1.jpg' %}" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure></div>
                                        <div class="item"><figure class="post-thumb"><img src="{% static 'haman/images/gallery/thumb-2.jpg' %}" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure></div>
                                        <div class="item"><figure class="post-thumb"><img src="{% static 'haman/images/gallery/thumb-3.jpg' %}" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure></div>
                                        <div class="item"><figure class="post-thumb"><img src="{% static 'haman/images/gallery/thumb-4.jpg' %}" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!--Big Column-->
                	<div class="big-column col-md-6 col-sm-12 col-xs-12">
                    	<div class="row clearfix">

                            <!--Footer Column-->
                        	<div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            	<div class="footer-widget posts-widget">
                                	<h2>{% translate 'Recent News' %}</h2>
                                    <div class="widget-content">
                                    	<div class="posts">
                                            <div class="post">
                                                <figure class="post-thumb"><img src="{% static 'haman/images/resource/post-thumb-1.jpg' %}" alt=""><a href="#" class="overlay-link"><span class="flaticon-plus-1"></span></a></figure>
                                                <div class="desc-text"><a href="#">How mistakens denoncings pleasure and complete.</a></div>
                                                <div class="time"><span class="fa fa-clock-o"></span> Oct 03, 2015</div>
                                            </div>
                                            <div class="post">
                                                <figure class="post-thumb"><img src="{% static 'haman/images/resource/post-thumb-2.jpg' %}" alt=""><a href="#" class="overlay-link"><span class="flaticon-plus-1"></span></a></figure>
                                                <div class="desc-text"><a href="#">Pleasure praising pains was, expound actual teaching.</a></div>
                                                <div class="time"><span class="fa fa-clock-o"></span> Aug 21, 2015</div>
                                            </div>
                                        </div>
                                        <a class="view-more theme-btn" href="#">{% translate 'Read More' %} <span class="fa fa-caret-right"></span></a>
                                    </div>
                                </div>
                            </div>

                            <!--Footer Column-->
                        	<div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            	<div class="footer-widget contact-widget">
                                	<h2>{% translate 'Send Us Message' %}</h2>
                                    <div class="widget-content">
                                        <div class="newsletter-form">
                                            <form method="post" action="#">
                                                <div class="form-group">
                                                    <input type="text" name="name" value="" placeholder="{% translate 'Name *' %}" required>
                                                </div>
                                                <div class="form-group">
                                                    <input type="email" name="email" value="" placeholder="{% translate 'Email *' %}" required>
                                                </div>
                                                <div class="form-group">
                                                    <textarea name="message" placeholder="{% translate 'Message *' %}" required></textarea>
                                                </div>
                                                <button type="submit" class="theme-btn btn-style-two">{% translate 'Send us' %}</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                 </div>
             </div>

        </div>

        <!--Footer Bottom-->
         <div class="footer-bottom">
         	<div class="auto-container">
            	<div class="clearfix">
                	<div class="pull-left"><div class="copyright"><a href="https://www.github.com/aliashtab77" target="_blank">{% translate 'Stark Team' %}</a></div></div>
                    <div class="pull-right">
                    	<ul class="footer-nav">
                        	<li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
                            <li><a href="{% url 'about' %}">{% translate 'About Us' %}</a></li>
                            <li><a href="{% url 'services' %}">{% translate 'Services' %}</a></li>
                            <li><a href="{% url 'contact' %}">{% translate 'Contact' %}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


</div>
<!--End pagewrapper-->


<!--Search Popup-->
{#<div id="search-popup" class="search-popup">#}
{#	<div class="close-search theme-btn"><span class="flaticon-unchecked"></span></div>#}
{#	<div class="popup-inner">#}
{##}
{#    	<div class="search-form">#}
{#        	<form method="post" action="#">#}
{#            	<div class="form-group">#}
{#                	<fieldset>#}
{#                        <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required >#}
{#                        <input type="submit" value="Search" class="theme-btn">#}
{#                    </fieldset>#}
{#                </div>#}
{#            </form>#}
{##}
{#            <br>#}
{#            <h3>Recent Search Keywords</h3>#}
{#            <ul class="recent-searches">#}
{#                <li><a href="#">Business</a></li>#}
{#                <li><a href="#">Web Development</a></li>#}
{#                <li><a href="#">SEO</a></li>#}
{#                <li><a href="#">Logistics</a></li>#}
{#                <li><a href="#">Freedom</a></li>#}
{#            </ul>#}
{##}
{#        </div>#}
{##}
{#    </div>#}
{#</div>#}

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="fa fa-long-arrow-up"></span></div>
<script src="{% static 'haman/js/jquery.js' %}"></script>
<script src="{% static 'haman/js/bootstrap.min.js' %}"></script>
<script src="{% static 'haman/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'haman/js/revolution.min.js' %}"></script>
<script src="{% static 'haman/js/jquery.fancybox.pack.js' %}"></script>
<script src="{% static 'haman/js/jquery.fancybox-media.js' %}"></script>
<script src="{% static 'haman/js/isotope.js' %}"></script>
<script src="{% static 'haman/js/owl.js' %}"></script>
<script src="{% static 'haman/js/wow.js' %}"></script>
<script src="{% static 'haman/js/script.js' %}"></script>
<script src="{% static 'haman/js/changelanguge.js' %}"></script>
</body>


</html>