{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
	{% translate 'global trade' %}
{% endblock title %}
{% block servicesc %}current{% endblock servicesc%}
{% block servicescz %}current{% endblock servicescz%}

{% block body %}

    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'haman/images/background/bg-page-title-1.jpg' %});">
        <div class="auto-container">
            <h1>{% translate 'global trade' %}</h1>
        </div>
    </section>

    <!--Page Info-->
    <section class="page-info">
        <div class="auto-container clearfix">
            <div class="pull-left"><h2>{% translate 'global trade' %}</h2></div>
            <div class="pull-right">
                <ul class="bread-crumb clearfix">
                    <li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
                    <li><a href="{% url 'services' %}">{% translate 'Services' %}</a></li>
                    <li>{% translate 'global trade' %}</li>
                </ul>
            </div>
        </div>
    </section>

    <!--Sidebar Page-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">


                <!--Sidebar-->
                <div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <aside class="sidebar">

                        <!--Sidebar Widget / Boxed Nav-->
                        {% include 'services-side.html' with global="current" only %}

                        <!--Sidebar Widget / Downloads-->
                        <div class="widget sidebar-widget downloads">
                            <div class="sidebar-title"><h3>{% translate 'Our Brochures' %}</h3></div>
                            <ul>
                                <li class="haman_left"><a href="#"><span class="icon fa fa-file-pdf-o"></span> Download.Pdf</a></li>
                                <li class="haman_left"><a href="#"><span class="icon fa fa-file-word-o"></span> Download.Doc</a></li>
                            </ul>
                        </div>


                    </aside>
                </div><!--End Sidebar-->

                <!--Content Side-->

                <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    <!--Service Single-->
                    <section class="service-details">
                    	<!--Service Images-->
                        <div class="service-images">
                            <ul class="single-item-carousel">
                                <li><figure class="image-box"><a href="{% static 'haman/images/resource/services/b-tejarat1.jpg' %}" class="lightbox-image" title="Image Caption Here"><img src="{% static 'haman/images/resource/services/b-tejarat1.jpg' %}" alt="global trade photo"></a></figure></li>
                                <li><figure class="image-box"><a href="{% static 'haman/images/resource/services/b-tejarat2.jpg' %}" class="lightbox-image" title="Image Caption Here"><img src="{% static 'haman/images/resource/services/b-tejarat2.jpg' %}" alt="global trade photo"></a></figure></li>

                            </ul>
                        </div>

                       	<div class="sec-title"><h2>{% translate 'global trade' %}</h2></div>
                        <!--Text Content-->
                        <div class="text-content">
                            <h3>{% translate 'Global trade in petrochemicals, refining and sugar' %}</h3>
                        	<p>{% translate 'Global trade in petrochemicals, refined products and sugar is recognized as one of the key pillars of the global economy. Due to their widespread use in various industries and the daily needs of humans, these materials play a vital role in energy supply, industrial and food production. Given the economic, political and technological developments, the trade in these materials in the world faces different challenges and opportunities.' %}</p>
                            <h3>{% translate 'Global petrochemical trade' %}</h3>
                            <p>{% translate 'Petrochemicals are produced from the processing of crude oil and natural gas and are considered the building blocks of the chemical industry. These materials include polyethylene, polypropylene, styrene, and other chemical compounds that are used in the production of a variety of products, including plastics, synthetic fibers, and industrial chemicals.' %}</p>
                            <p>{% translate 'Petrochemical trade is highly dependent on global oil prices and the economic situation of producing and consuming countries. The most important countries in petrochemical trade include China, the United States, and the Gulf countries. In recent years, demand for petrochemicals in Asia, especially China, has increased significantly.' %}</p>
                            <p>{% translate 'Changes in environmental regulations and concerns about chemical waste can affect the trade and production of petrochemicals. Fluctuations in oil and natural gas prices can also affect production costs.' %}</p>
                            <h3>{% translate 'Global trade in refinery materials' %}</h3>
                            <p>{% translate 'The oil refining industry converts crude oil into various products, including gasoline, diesel, fuel oil, and chemical products. As the heart of the oil and gas industries, refineries supply their products to international markets.' %}</p>
                            <p>{% translate 'The refining market is influenced by global energy demand and the policies of oil-producing countries. Middle Eastern countries, especially Saudi Arabia and the UAE, play a prominent role in the production and export of refined products.' %}</p>
                            <p>{% translate 'Environmental pressures and policy shifts towards renewable energy could affect the future of the oil refining industry. Also, the sustainability of the crude oil supply required for refineries is a significant challenge.' %}</p>
                            <h3>{% translate 'Global sugar and food trade' %}</h3>
                            <p>{% translate 'Sugar is a key food ingredient used as a sweetener in the food and beverage industries. It is also used in the production of bioethanol and other chemical products.' %}</p>
                            <p>{% translate 'The sugar trade is influenced by agriculture, trade policies, and global demand. Brazil and India are the largest sugar producers, supplying a portion of global demand.' %}</p>
                            <p>{% translate 'Trade disputes and import tariffs can disrupt the sugar trade, while climate change and issues related to sustainable agriculture can also affect sugar production.' %}</p>
                            <h3>{% translate 'Shipping to ports around the world' %}</h3>
                            <p>{% translate 'For global trade in petrochemicals, refined products and food, transportation and shipping to global ports play a vital role. As major transit points, ports have a major impact on costs and delivery times.' %}</p>
                            <h3>{% translate 'Factors affecting transportation' %}</h3>
                            <p>{% translate 'Port infrastructure: The quality and capacity of ports has an impact on facilitating or disrupting the transportation process.' %}</p>
                            <p>{% translate 'Choice of transportation method: including sea, road, and rail transportation, depending on the type of goods and distance.' %}</p>
                            <p>{% translate 'Laws and regulations: Customs and trade laws can affect shipping speeds and costs.' %}</p>
                            <h3>{% translate 'Conclusion' %}</h3>
                            <p>{% translate 'The global trade in petrochemicals, refining and sugar, despite the many challenges and opportunities it presents, continues to be one of the engines of economic progress and development of various countries and industries. Given the continuous changes in global markets and economic conditions, the need for innovative solutions and sustainable strategies in this industry is felt more than ever.' %}</p>
                            <h4>{% translate 'For more information, a consultation, or to place an order, contact us today and experience a different kind of professional collaboration.' %}</h4>
                        </div>

                        <!--Service Types-->
                        <div class="service-types">
                        	<div class="row clearfix">
                            	<!--Service Type-->
                                <div class="service-type col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                	<div class="inner-box">
                                    	<figure class="image-box"><img src="{% static 'haman/images/resource/services/tejarat shekar.jpg' %}" alt="{% translate 'Sugar trade photo' %}"></figure>
                                        <div class="lower-content">
                                            <ul class="list-style-one">
                                            	<li>{% translate "Sugar is a key nutrient." %}</li>
                                                <li>{% translate 'Sugar transportation from Brazil is our specialty.' %}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!--Service Type-->
                                <div class="service-type col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                	<div class="inner-box">
                                    	<figure class="image-box"><img src="{% static 'haman/images/resource/services/tejarat-palayeshgah.jpg' %}" alt="{% translate 'Refinery business photo' %}"></figure>
                                        <div class="lower-content">
                                            <ul class="list-style-one">
                                            	<li>{% translate 'Refineries are the heart of the oil and gas industries.' %}</li>
                                                <li>{% translate 'Transit of refinery materials around the world.' %}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!--Service Type-->
                                <div class="service-type col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                	<div class="inner-box">
                                    	<figure class="image-box"><img src="{% static 'haman/images/resource/services/tejarat-petroshimi.jpg' %}" alt="{% translate 'Petrochemical trade photo' %}"></figure>
                                        <div class="lower-content">
                                            <ul class="list-style-one">
                                            	<li>{% translate 'Demand for petrochemicals is increasing in Asia and Africa.' %}</li>
                                                <li>{% translate 'Our expert support team is ready to answer you.' %}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>



                        <!--Get Quote-->
                        <div class="get-quote">
                            <div class="sec-title medium"><h2>{% translate 'Get a free consultation' %}</h2></div>
                                <div class="row clearfix">
                                    <!--Content COlumn-->
                                    <!--Form Column-->
                                    <div class="column col-lg-8 col-md-12 col-sm-12 col-xs-12">
                                        <!--form-box-->
                                        <div class="form-box default-form">
                                            <div class="contact-form default-form">
                                                <form method="post" action="{% url 'savemessages' %}" id="mform">
                                                    <div class="row clearfix">
                                                            {% csrf_token %}
                                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                            <input type="text" name="subject" value="" placeholder="{% translate 'subject' %}">
                                                        </div>

                                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                            <input type="text" name="username" value="" placeholder="{% translate 'Your Name *' %}" required>
                                                        </div>

                                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                            <input type="email" name="email" value="" placeholder="{% translate 'Your Mail *' %}" required>
                                                        </div>

                                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                            <input type="text" name="number" value="" placeholder="{% translate 'Phone Number' %}">
                                                        </div>

                                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                            <textarea name="message" placeholder="{% translate 'Message *' %}"></textarea>
                                                        </div>
                                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                            <button type="submit" class="theme-btn btn-style-two">{% translate 'Get Quote' %}</button>
                                                        </div>
                                                        <div id="response">

                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>

                    </section>
                </div><!--End Content Side-->

            </div>
        </div>
    </div>


{% endblock body %}


{% block escript %}
    <script>

        $(document).ready(function() {

            $('#mform').on('submit', function(event) {

                {#event.preventDefault(); // Prevent the default form submission#}


                $.ajax({

                    type: 'POST',

                    url: '{% url "savemessages" %}',  // Replace with your view's URL

                    data: $(this).serialize(), // Serialize the form data

                    success: function(response) {

                        if (response.success) {

                            $('#response').html('<p>' + response.message + '</p>');

                        } else {

                            $('#response').html('<p>Error: ' + JSON.stringify(response.errors) + '</p>');

                        }

                    },

                    error: function(xhr, status, error) {

                        $('#response').html('<p>An error occurred: ' + error + '</p>');

                    }

                });

            });

        });

    </script>
{% endblock %}
