{% extends 'base.html' %}
{% load i18n %}
{% load static %}


{% block title %}
	{% translate 'our team' %}
{% endblock title %}
{% block aboutc %}current{% endblock aboutc%}
{% block aboutcz %}current{% endblock aboutcz%}







{% block body %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'haman/images/background/bg-page-title-1.jpg' %});">
        <div class="auto-container">
            <h1>{% translate 'Team Behind Palayeshcood' %}</h1>
        </div>
    </section>

    <!--Page Info-->
    <section class="page-info">
        <div class="auto-container clearfix">
            <div class="pull-left"><h2>{% translate 'Our Team' %}</h2></div>
            <div class="pull-right">
                <ul class="bread-crumb clearfix">
                    <li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
                    <li>{% translate 'Our Team' %}</li>
                </ul>
            </div>
        </div>
    </section>

    
    <!--Team Section One-->
    <section class="team-section-one">
    	<div class="auto-container">
            
            <div class="row clearfix">
{#                haman lesan#}
            	<!--Team Member-->
                <div class="team-member-one col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<figure class="image-box">
                        	<img src="{% static 'haman/images/resource/hamanlesan.jpg' %}" alt="{% translate 'Haman Lesan' %}">
                            <div class="overlay">
                            	<ul class="social-links">
                                	<li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                </ul>
                            </div>
                        </figure>
                        <div class="lower-content">
                        	<h3><a href="">{% translate 'Haman Lesan' %}</a></h3>
                            <div class="designation">{% translate 'Founder and CEO' %}</div>
                            <div class="desc-text">On the other hands, we denounce with  righteous indignations and dislike men demoralized  by the charms.</div>
                        </div>
                    </div>
                </div>
{#                hadi lesan#}
                <!--Team Member-->
                <div class="team-member-one col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<figure class="image-box">
                        	<img src="{% static 'haman/images/resource/hadilesan.jpg' %}" alt="{% translate 'Hadi Lesan' %}">
                            <div class="overlay">
                            	<ul class="social-links">
                                	<li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                </ul>
                            </div>
                        </figure>
                        <div class="lower-content">
                        	<h3><a href="">{% translate 'Hadi Lesan' %}</a></h3>
                            <div class="designation">{% translate 'Vice President' %}</div>
                            <div class="desc-text">Foresee the pains and troublle that are bound to ensue; and equall blame seds belongs to those duty finance.</div>
                        </div>
                    </div>
                </div>
{#                ali ashtab#}
                <!--Team Member-->
                <div class="team-member-one col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<figure class="image-box">
                        	<img src="{% static 'haman/images/resource/aliashtab.jpg' %}" alt="{% translate 'Ali Ashetab' %}">
                            <div class="overlay">
                            	<ul class="social-links">
                                	<li><a href="https://www.github.com/aliashtab77" target="_blank"><span class="fa fa-github"></span></a></li>
                                    <li><a href="https://x.com/aliashtab77" target="_blank"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="https://linkedin.com/in/ali-ashtab" target="_blank"><span class="fa fa-linkedin"></span></a></li>
                                </ul>
                            </div>
                        </figure>
                        <div class="lower-content">
                        	<h3><a href="">{% translate 'Ali Ashetab' %}</a></h3>
                            <div class="designation">{% translate 'Programming team leader' %}</div>
                            <div class="desc-text">{% translate 'All our technological activities are carried out under the management and leadership of Mr. Ashtab.' %}</div>
                        </div>
                    </div>
                </div>
{#                zahra debar#}
                <!--Team Member-->
                <div class="team-member-one col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<figure class="image-box">
                        	<img src="{% static 'haman/images/resource/zahrapashaii.jpg' %}" alt="{% translate 'Zahra PashaiiNejad' %}">
                            <div class="overlay">
                            	<ul class="social-links">
                                	<li><a href="https://github.com/zahrapashaiinejhad77/" target="_blank"><span class="fa fa-github"></span></a></li>
                                    <li><a href="https://x.com/zahrapashaii77" target="_blank"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="https://www.linkedin.com/in/zahrapashaiinejhad77" target="_blank"><span class="fa fa-linkedin"></span></a></li>
                                </ul>
                            </div>
                        </figure>
                        <div class="lower-content">
                        	<h3><a href="">{% translate 'Zahra PashaiiNejad' %}</a></h3>
                            <div class="designation">{% translate 'Back-end team master' %}</div>
                            <div class="desc-text">{% translate 'All of our back-end and server side activities are managed by Ms. Pashainejad.' %}</div>
                        </div>
                    </div>
                </div>
{#                mahdieh#}
                <!--Team Member-->
                <div class="team-member-one col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<figure class="image-box">
                        	<img src="{% static 'haman/images/resource/mahdiehvahedi.jpg' %}" alt="{% translate 'Mahdieh Vahedi' %}">
                            <div class="overlay">
                            	<ul class="social-links">
                                	<li><a href="https://github.com/mahdiehvahedi77" target="_blank"><span class="fa fa-github"></span></a></li>
                                    <li><a href="https://x.com/Mhdie_2004" target="_blank"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="www.linkedin.com/in/mahdiehvahedi77" target="_blank"><span class="fa fa-linkedin"></span></a></li>
                                </ul>
                            </div>
                        </figure>
                        <div class="lower-content">
                        	<h3><a href="">{% translate 'Mahdieh Vahedi' %}</a></h3>
                            <div class="designation">{% translate 'Front-End Team Master' %}</div>
                            <div class="desc-text">{% translate 'All of our front-end and visual design activities are managed by Ms. Vahedi.' %}</div>
                        </div>
                    </div>
                </div>
{#                maryam#}
                <!--Team Member-->
                <div class="team-member-one col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<figure class="image-box">
                        	<img src="{% static 'haman/images/resource/maryamfarangis.jpg' %}" alt="{% translate 'Maryam Farangis' %}">
                            <div class="overlay">
                            	<ul class="social-links">
                                	<li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                </ul>
                            </div>
                        </figure>
                        <div class="lower-content">
                        	<h3><a href="">{% translate 'Maryam Farangis' %}</a></h3>
                            <div class="designation">Tax Consultant</div>
                            <div class="desc-text">Accusantium doloremque laudanttium totam remo aperiams eaquet ipsa quae ab illo inventore veritatis et quas.</div>
                        </div>
                    </div>
                </div>
{#                team member 1#}
                <!--Team Member-->
                <div class="team-member-one col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<figure class="image-box">
                        	<img src="{% static 'haman/images/resource/royanasiri.jpg' %}" alt="{% translate 'Roya Nasiri' %}">
                            <div class="overlay">
                            	<ul class="social-links">
                                	<li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                </ul>
                            </div>
                        </figure>
                        <div class="lower-content">
                        	<h3><a href="">{% translate 'Roya Nasiri' %}</a></h3>
                            <div class="designation">Marketing Manager</div>
                            <div class="desc-text">Dolorems que laudantium, total remos aperiam, eaque ipsa quae ab illo sed ut Nemo enim ipsam voluptatem.</div>
                        </div>
                    </div>
                </div>
{#                team member 2#}
                <!--Team Member-->
                <div class="team-member-one col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<figure class="image-box">
                        	<img src="{% static 'haman/images/resource/arashmostofi.jpg' %}" alt="{% translate 'Arash Mostofi' %}">
                            <div class="overlay">
                            	<ul class="social-links">
                                	<li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                </ul>
                            </div>
                        </figure>
                        <div class="lower-content">
                        	<h3><a href="">{% translate 'Arash Mostofi' %}</a></h3>
                            <div class="designation">Team Leader</div>
                            <div class="desc-text">On the other hands, we denounce with  righteous indignations and dislike men demoralized  by the charms.</div>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>
    

{% endblock body %}
    


