
    
    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/bg-page-title-1.jpg);">
        <div class="auto-container">
            <h1>Our Services</h1>
        </div>
    </section>
    
    <!--Page Info-->
    <section class="page-info">
        <div class="auto-container clearfix">
            <div class="pull-left"><h2>Wooden Flooring</h2></div>
            <div class="pull-right">
                <ul class="bread-crumb clearfix">
                    <li><a href="index-2.html">Home</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li>Wooden Flooring</li>
                </ul>
            </div>
        </div>
    </section>
    
    
    <!--Sidebar Page-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                  
                
                <!--Sidebar-->      
                <div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <aside class="sidebar">
                        
                        <!--Sidebar Widget / Boxed Nav-->
                        <div class="widget sidebar-widget styled-nav">
                            <nav class="nav-outer">
                                <ul>
                                    <li><a href="service-single.html">Texture Painting</a></li>
                                    <li class="current"><a href="service-single.html">Wooden Flooring</a></li>
                                    <li><a href="service-single.html">Interior Curtains</a></li>
                                    <li><a href="service-single.html">Tile &amp; Marble Works</a></li>
                                    <li><a href="service-single.html">Furniture Works</a></li>
                                    <li><a href="service-single.html">Lighting Works</a></li>
                                    <li><a href="service-single.html">Curatains Road</a></li>
                                    <li><a href="service-single.html">Walldesigning Works</a></li>
                                    <li><a href="service-single.html">Artificial Grass Flooring</a></li>
                                </ul>
                            </nav>
                        </div>
                        
                        <!--Sidebar Widget / Downloads-->
                        <div class="widget sidebar-widget downloads">
                            <div class="sidebar-title"><h3>Our Brochures</h3></div>
                            <ul>
                                <li><a href="#"><span class="icon fa fa-file-pdf-o"></span> Download.Pdf</a></li>
                                <li><a href="#"><span class="icon fa fa-file-word-o"></span> Download.Doc</a></li>
                            </ul>
                        </div>
                        

                        
                    </aside>
                </div><!--End Sidebar--> 
                
                <!--Content Side-->      
                <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    <!--Service Single-->
                    <section class="service-details">
                    	<!--Service Images-->
                        <div class="service-images">
                            <ul class="single-item-carousel">
                                <li><figure class="image-box"><a href="images/resource/service-image-10.jpg" class="lightbox-image" title="Image Caption Here"><img src="images/resource/service-image-10.jpg" alt=""></a></figure></li>
                                <li><figure class="image-box"><a href="images/resource/service-image-10.jpg" class="lightbox-image" title="Image Caption Here"><img src="images/resource/service-image-10.jpg" alt=""></a></figure></li>
                                <li><figure class="image-box"><a href="images/resource/service-image-10.jpg" class="lightbox-image" title="Image Caption Here"><img src="images/resource/service-image-10.jpg" alt=""></a></figure></li>
                            </ul>
                            <div class="link-box-outer"><a href="portfolio-default.html" class="theme-btn">More Pictures</a></div>
                        </div>
                        
                       	<div class="sec-title"><h2>Wooden Flooring</h2></div>
                        <!--Text Content-->
                        <div class="text-content">
                        	<p>Wood flooring is any product manufactured from timber that is designed for use as flooring, either structural or aesthetic and Wood is a common choice as a flooring material due to its environmental profile, durability, and restorability. Bamboo flooring is often considered a form of wood flooring, although it is made from a grass (bamboo) rather than a timber. It is a substance which is "perfect for flooring because it is elastic and flexible", according to A Splintered History of Wood by Spike Garlsen. Engineered Wood flooring is a popular feature in many houses.</p>
                            <p>Wood flooring is composed of two or more layers of wood in the form of a plank. The top layer (lamella) is the wood that is a visible when the flooring is installed, and is adhered to the core (or substrate) which provides the stability. We have the best manufacturers for laminate wood flooring, creating a high-pressure laminate flooring.</p>
                        </div>
                        
                        <h4 class="medium-title">You'll find wood floors come in Three basic types:</h4>
                        
                        <!--Service Types-->
                        <div class="service-types">
                        	<div class="row clearfix">
                            	<!--Service Type-->
                                <div class="service-type col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                	<div class="inner-box">
                                    	<figure class="image-box"><img src="images/resource/service-image-11.jpg" alt=""></figure>
                                        <div class="lower-content">
                                        	<h3>Solid Wood Flooring</h3>
                                            <div class="desc-text">The great explorer of the truth, the master-builder of human...</div>
                                            <ul class="list-style-one">
                                            	<li>Ages to show wood's true beauty</li>
                                                <li>Can be refinished or stained</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                
                                <!--Service Type-->
                                <div class="service-type col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                	<div class="inner-box">
                                    	<figure class="image-box"><img src="images/resource/service-image-12.jpg" alt=""></figure>
                                        <div class="lower-content">
                                        	<h3>Engineered Wood Flooring</h3>
                                            <div class="desc-text">How to pursue pleasure uts rationally counter consequences extremely... </div>
                                            <ul class="list-style-one">
                                            	<li>Less affected by heat and humidity</li>
                                                <li>Installation on any type of subfloor</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                
                                <!--Service Type-->
                                <div class="service-type col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                	<div class="inner-box">
                                    	<figure class="image-box"><img src="images/resource/service-image-13.jpg" alt=""></figure>
                                        <div class="lower-content">
                                        	<h3>Bamboo Flooring</h3>
                                            <div class="desc-text">Master-builder of human happinessNo one rejects, dislikes, or avoids...</div>
                                            <ul class="list-style-one">
                                            	<li>Lower cost alternative to hardwood</li>
                                                <li>Environmentally friendly</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                        
                        <!--Recent Works-->
                        <div class="recent-work">
                        	<div class="sec-title medium"><h2>Recent Works</h2></div>
                            
                        	<div class="row clearfix">
                            	<!--Default Portfolio Item-->
                                <div class="col-md-4 col-sm-6 col-xs-12 default-portfolio-item">
                                    <div class="inner-box">
                                        <figure class="image-box"><img src="images/gallery/35.jpg" alt=""></figure>
                                        <!--Overlay Box-->
                                        <div class="overlay-one">
                                            <div class="overlay-inner">
                                                <div class="content">
                                                    <a href="portfolio-single-one.html" class="proj-link"><span class="fa fa-link"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Caption Box-->
                                        <div class="caption-box-one">
                                            <h3><a href="portfolio-single-one.html">Living Room</a></h3>
                                            <a href="#" class="cat-link">Solid Flooring</a>
                                        </div>
                                    </div>
                                </div>
                                
                                <!--Default Portfolio Item-->
                                <div class="col-md-4 col-sm-6 col-xs-12 default-portfolio-item">
                                    <div class="inner-box">
                                        <figure class="image-box"><img src="images/gallery/36.jpg" alt=""></figure>
                                        <!--Overlay Box-->
                                        <div class="overlay-one">
                                            <div class="overlay-inner">
                                                <div class="content">
                                                    <a href="portfolio-single-one.html" class="proj-link"><span class="fa fa-link"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Caption Box-->
                                        <div class="caption-box-one">
                                            <h3><a href="portfolio-single-one.html">Living Room</a></h3>
                                            <a href="#" class="cat-link">Solid Flooring</a>
                                        </div>
                                    </div>
                                </div>
                                
                                <!--Default Portfolio Item-->
                                <div class="col-md-4 col-sm-6 col-xs-12 default-portfolio-item">
                                    <div class="inner-box">
                                        <figure class="image-box"><img src="images/gallery/37.jpg" alt=""></figure>
                                        <!--Overlay Box-->
                                        <div class="overlay-one">
                                            <div class="overlay-inner">
                                                <div class="content">
                                                    <a href="portfolio-single-one.html" class="proj-link"><span class="fa fa-link"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Caption Box-->
                                        <div class="caption-box-one">
                                            <h3><a href="portfolio-single-one.html">Living Room</a></h3>
                                            <a href="#" class="cat-link">Solid Flooring</a>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                        
                        <!--Get Quote-->
                        <div class="get-quote">
                        	<div class="sec-title medium"><h2>Get Free Quatation</h2></div>
                            
                        	<div class="row clearfix">
                            	<!--Content COlumn-->
                                <div class="column col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                	<div class="content">
                                    	<div class="content-block"><strong>For Business:</strong>  For Business inquiry fill our short feedback form or you can also send us an <a href="#">email</a> and we’ll get in touch shortly, or Troll Free Number - <a href="#">(+91) 00-700-6202</a>.</div>
                                        <div class="content-block"><strong>Office Hours :</strong> 07:30 and 19:00 Mon to Sat, Sun - Holiday</div>
                                    </div>
                                </div>
                                
                                <!--Form Column-->
                                <div class="column col-lg-8 col-md-12 col-sm-12 col-xs-12">
                                	<!--form-box-->
                                    <div class="form-box default-form">
                                        <div class="contact-form default-form">
                                            <form method="post" action="#">
                                                <div class="row clearfix">
                                                
                                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                        <select>
                                                            <option>Wooden Flooring</option>
                                                            <option>Metal Flooring</option>
                                                            <option>Concrete Flooring</option>
                                                        </select>
                                                    </div>
                                                
                                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                        <input type="text" name="username" value="" placeholder="Your Name *" required>
                                                    </div>
                        
                                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                        <input type="email" name="email" value="" placeholder="Your Mail *" required>
                                                    </div>
                                                    
                                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                        <input type="text" name="number" value="" placeholder="Phone Number">
                                                    </div>
                                                    
                                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                        <textarea name="message" placeholder="Message *"></textarea>
                                                    </div>
                                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                        <button type="submit" class="theme-btn btn-style-two">Get Quote</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                    </section>
                </div><!--End Content Side-->     
                
            </div>
        </div>
    </div>
    
    
    <!--call-to-action-->
    <section class="call-to-action" style="background-image:url(images/background/image-1.jpg);">
    	<div class="auto-container">
        	<div class="row">
            	<div class="text">Join with Decorators and</div>
                <h2>Now Make Your Home More Lovely!</h2>
                
                <a class="theme-btn btn-style-one" href="#">Contact Us</a>
                <a class="theme-btn btn-style-two" href="#">Shop Now</a>
                
            </div>
        </div>
    </section>
    
    


