{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
	{% translate 'Services' %}
{% endblock title %}
{% block servicesc %}current{% endblock servicesc%}
{% block servicescz %}current{% endblock servicescz%}


{% block body %}

    
    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'haman/images/background/bg-page-title-1.jpg' %});">
        <div class="auto-container">
            <h1>{% translate 'Our Services' %}</h1>
        </div>
    </section>

    <!--Page Info-->
    <section class="page-info">
        <div class="auto-container clearfix">
            <div class="pull-left"><h2>{% translate 'Services' %}</h2></div>
            <div class="pull-right">
                <ul class="bread-crumb clearfix">
                    <li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
                    <li>{% translate 'Services' %}</li>
                </ul>
            </div>
        </div>
    </section>

    
    <!--Services Section-->
    <section class="services-section">
    	<div class="auto-container">
            
        	<div class="row clearfix">
            	
                <!--Service Block-->
                <div class="default-services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<figure class="image-box"><img src="{% static 'haman/images/resource/services/refinerbg.jpg' %}" alt="oil refinery products"><a href="{% url 'refinary' %}" class="overlay-box"><span class="fa fa-link"></span></a></figure>
                        <div class="lower-content haman_left">
                        	<div class="transparen-icon"><img src="{% static 'haman/images/icons/oil-refinery.png' %}" alt="oil refinery icon"></div>
                        	<h3 class="haman_right"><a href="{% url 'refinary' %}">{% translate 'refinery products' %}</a></h3>
                            <div class="text haman_right">{% translate 'We are proud to provide direct and quality guaranteed refinery products supply services to our customers around the world. Our goal is to create reliable, fast and economical solutions to meet your strategic and essential fuel needs.'|truncatewords:20 %}</div>
                            <div class="link-box"><a href="{% url 'refinary' %}" class="theme-btn read-more">{% translate 'Read More' %}</a></div>
                        </div>
                    </div>
                </div>



                <!--Service Block-->
                <div class="default-services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<figure class="image-box"><img src="{% static 'haman/images/resource/services/pet.jpg' %}" alt="petrochemical product"><a href="{% url 'petrochemical' %}" class="overlay-box"><span class="fa fa-link"></span></a></figure>
                        <div class="lower-content haman_left">
                        	<div class="transparen-icon"><img src="{% static 'haman/images/icons/plant.png' %}" alt="petrochemical icon"></div>
                        	<h3 class="haman_right"><a href="{% url 'petrochemical' %}">{% translate 'petrochemical products' %}</a></h3>
                            <div class="text haman_right">{% translate 'We specialize in direct supply of petrochemical products and our main goal is to provide a fast, reliable and professional solution to meet the needs of customers around the world. By establishing close relationships with reputable petrochemicals, we have enabled the supply of high quality products.'|truncatewords:20 %}</div>
                            <div class="link-box"><a href="{% url 'petrochemical' %}" class="theme-btn read-more">{% translate 'Read More' %}</a></div>
                        </div>
                    </div>
                </div>

                <!--Service Block-->
                <div class="default-services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<figure class="image-box"><img src="{% static 'haman/images/resource/services/global.jpg' %}" alt=""><a href="{% url 'global' %}" class="overlay-box"><span class="fa fa-link"></span></a></figure>
                        <div class="lower-content haman_left">
                        	<div class="transparen-icon"><img src="{% static 'haman/images/icons/worldwide.png' %}" alt="global trade icon"></div>
                        	<h3 class="haman_right"><a href="{% url 'global' %}">{% translate 'global trade' %}</a></h3>
                            <div class="text haman_right">{% translate 'Global trade in petrochemicals, refined products and sugar is recognized as one of the key pillars of the global economy. Due to their widespread use in various industries and the daily needs of humans, these materials play a vital role in energy supply, industrial and food production. Given the economic, political and technological developments, the trade in these materials in the world faces different challenges and opportunities.'|truncatewords:20 %}</div>
                            <div class="link-box"><a href="{% url 'global' %}" class="theme-btn read-more">{% translate 'Read More' %}</a></div>
                        </div>
                    </div>
                </div>

                <!--Service Block-->
                <div class="default-services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<figure class="image-box"><img src="{% static 'haman/images/resource/services/food.jpg' %}" alt=""><a href="{% url 'food' %}" class="overlay-box"><span class="fa fa-link"></span></a></figure>
                        <div class="lower-content haman_left">
                        	<div class="transparen-icon"><img src="{% static 'haman/images/icons/edible.png' %}" alt="Food products icon"></div>
                        	<h3 class="haman_right"><a href="{% url 'food' %}">{% translate 'Food products' %}</a></h3>
                            <div class="text haman_right">{% translate 'We are proud to serve the needs of our customers worldwide by providing food supply services directly from reputable factories. With a focus on quality, transparency, and speed in service delivery, we strive to provide the best experience for customers in various food industries.'|truncatewords:20 %}</div>
                            <div class="link-box"><a href="{% url 'food' %}" class="theme-btn read-more">{% translate 'Read More' %}</a></div>
                        </div>
                    </div>
                </div>
                <!--Service Block-->
                <div class="default-services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<figure class="image-box"><img src="{% static 'haman/images/resource/services/keshavarzibg.jpg' %}" alt=""><a href="{% url 'agriculture' %}" class="overlay-box"><span class="fa fa-link"></span></a></figure>
                        <div class="lower-content haman_left">
                        	<div class="transparen-icon"><img src="{% static 'haman/images/icons/plant.png' %}" alt="agriculture products icon"></div>
                        	<h3 class="haman_right"><a href="{% url 'agriculture' %}">{% translate 'agriculture products' %}</a></h3>
                            <div class="text haman_right">{% translate 'In the world of agriculture, the use of high-quality and reliable fertilizers is one of the most important factors in increasing the yield of farmland and gardens. With years of experience in the direct supply and distribution of agricultural fertilizers, we assure you that we will provide you with urea, sulfur, diammonium phosphate and other agricultural inputs without intermediaries, with guaranteed quality and at competitive prices.'|truncatewords:20 %}</div>
                            <div class="link-box"><a href="{% url 'agriculture' %}" class="theme-btn read-more">{% translate 'Read More' %}</a></div>
                        </div>
                    </div>
                </div>
                <!--Service Block-->
                <div class="default-services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<figure class="image-box"><img src="{% static 'haman/images/resource/services/supportbg.jpg' %}" alt=""><a href="{% url 'support' %}" class="overlay-box"><span class="fa fa-link"></span></a></figure>
                        <div class="lower-content haman_left">
                        	<div class="transparen-icon"><img src="{% static 'haman/images/icons/financial-advisor.png' %}" alt="support icon"></div>
                        	<h3 class="haman_right"><a href="{% url 'support' %}">{% translate 'Support' %}</a></h3>
                            <div class="text haman_right">{% translate "We understand that making smart and successful decisions on any project requires accurate information and professional support. That's why we have assembled a team of experienced and professional professionals to be with you at every stage of the collaboration. Our goal is to provide services that exceed your expectations and create a different and reliable experience."|truncatewords:16 %}</div>
                            <div class="link-box"><a href="{% url 'support' %}" class="theme-btn read-more">{% translate 'Read More' %}</a></div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    {% comment %}
    
    <!--call-to-action-->
    <section class="call-to-action" style="background-image:url(images/background/image-1.jpg);">
    	<div class="auto-container">
        	<div class="row">
            	<div class="text">Join with Decorators and</div>
                <h2>Now Make Your Home More Lovely!</h2>
                
                <a class="theme-btn btn-style-one" href="#">Contact Us</a>
                <a class="theme-btn btn-style-two" href="#">Shop Now</a>
                
            </div>
        </div>
    </section>
{% endcomment %}

{% endblock body %}


{% if footerblogs %}
    {% block blogs %}
        {% if LANGUAGE_CODE == "fa" %}
            {% for footernew in footerblogs %}
                <div class="post">
                    <figure class="post-thumb"><img src="{{ footernew.blog.avatar.url }}" alt="{{ footernew.blog.title_persian }}"><a href="{% url 'blogsdetail' slug=footernew.blog.persian_slug %}" class="overlay-link"><span class="flaticon-plus-1"></span></a></figure>
                    <div class="desc-text"><a href="{% url 'blogsdetail' slug=footernew.blog.persian_slug %}">{{ footernew.blog.title_persian | truncatewords:6}}</a></div>
                    <div class="time"><span class="fa fa-clock-o"></span> {{ footernew.blog.time_created }}</div>
                </div>
            {% endfor %}
        {% elif LANGUAGE_CODE == "en" %}
            {% for footernew in footerblogs %}
                <div class="post">
                    <figure class="post-thumb"><img src="{{ footernew.blog.avatar.url }}" alt="{{ footernew.blog.title_english }}"><a href="{% url 'blogsdetail' slug=footernew.blog.english_slug %}" class="overlay-link"><span class="flaticon-plus-1"></span></a></figure>
                    <div class="desc-text"><a href="{% url 'blogsdetail' slug=footernew.blog.english_slug %}">{{ footernew.blog.title_english | truncatewords:6}}</a></div>
                    <div class="time"><span class="fa fa-clock-o"></span> {{ footernew.blog.time_created }}</div>
                </div>
            {% endfor %}
        {% else %}
            {% for footernew in footerblogs %}
                <div class="post">
                    <figure class="post-thumb"><img src="{{ footernew.blog.avatar.url }}" alt="{{ footernew.blog.title_arabic }}"><a href="{% url 'blogsdetail' slug=footernew.blog.arabic_slug %}" class="overlay-link"><span class="flaticon-plus-1"></span></a></figure>
                    <div class="desc-text"><a href="{% url 'blogsdetail' slug=footernew.blog.arabic_slug %}">{{ footernew.blog.title_arabic | truncatewords:6}}</a></div>
                    <div class="time"><span class="fa fa-clock-o"></span> {{ footernew.blog.time_created }}</div>
                </div>
            {% endfor %}
        {% endif %}
    {% endblock blogs %}
{% endif %}

{% if footernews %}
    {% block news %}
        {% if LANGUAGE_CODE == "fa" %}
            {% for footernew in footernews %}
                <div class="post">
                    <figure class="post-thumb"><img src="{{ footernew.news.avatar.url }}" alt="{{ footernew.news.title_persian }}"><a href="{% url 'newsdetail' slug=footernew.news.persian_slug %}" class="overlay-link"><span class="flaticon-plus-1"></span></a></figure>
                    <div class="desc-text"><a href="{% url 'newsdetail' slug=footernew.news.persian_slug %}">{{ footernew.news.title_persian | truncatewords:6}}</a></div>
                    <div class="time"><span class="fa fa-clock-o"></span> {{ footernew.news.time_created }}</div>
                </div>
            {% endfor %}
        {% elif LANGUAGE_CODE == "en" %}
            {% for footernew in footernews %}
                <div class="post">
                    <figure class="post-thumb"><img src="{{ footernew.news.avatar.url }}" alt="{{ footernew.news.title_english }}"><a href="{% url 'newsdetail' slug=footernew.news.english_slug %}" class="overlay-link"><span class="flaticon-plus-1"></span></a></figure>
                    <div class="desc-text"><a href="{% url 'newsdetail' slug=footernew.news.english_slug %}">{{ footernew.news.title_english | truncatewords:6}}</a></div>
                    <div class="time"><span class="fa fa-clock-o"></span> {{ footernew.news.time_created }}</div>
                </div>
            {% endfor %}
        {% else %}
            {% for footernew in footernews %}
                <div class="post">
                    <figure class="post-thumb"><img src="{{ footernew.news.avatar.url }}" alt="{{ footernew.news.title_arabic }}"><a href="{% url 'newsdetail' slug=footernew.news.arabic_slug %}" class="overlay-link"><span class="flaticon-plus-1"></span></a></figure>
                    <div class="desc-text"><a href="{% url 'newsdetail' slug=footernew.news.arabic_slug %}">{{ footernew.news.title_arabic | truncatewords:6}}</a></div>
                    <div class="time"><span class="fa fa-clock-o"></span> {{ footernew.news.time_created }}</div>
                </div>
            {% endfor %}
        {% endif %}
    {% endblock news %}
{% endif %}


