{% load i18n %}
<div class="widget sidebar-widget styled-nav">
    <nav class="nav-outer">
        <ul>
            <li class="{{ refinery }}"><a href="{% url 'refinary' %}">{% translate 'refinery products' %}</a></li>
            <li class="{{ petrochemical }}"><a href="{% url 'petrochemical' %}">{% translate 'petrochemical products' %}</a></li>
            <li class="{{ global }}"><a href="{% url 'global' %}">{% translate 'global trade' %}</a></li>
            <li class="{{ food }}"><a href="{% url 'food' %}">{% translate 'Food products' %}</a></li>
            <li class="{{ agriculture }}"><a href="{% url 'agriculture' %}">{% translate 'agriculture products' %}</a></li>
            <li class="{{ support }}"><a href="{% url 'support' %}">{% translate 'support' %}</a></li>
        </ul>
    </nav>
</div>