{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
	{% translate 'support' %}
{% endblock title %}
{% block servicesc %}current{% endblock servicesc%}
{% block servicescz %}current{% endblock servicescz%}
{% block body %}

    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'haman/images/background/bg-page-title-1.jpg' %});">
        <div class="auto-container">
            <h1>{% translate 'support' %}</h1>
        </div>
    </section>

    <!--Page Info-->
    <section class="page-info">
        <div class="auto-container clearfix">
            <div class="pull-left"><h2>{% translate 'support' %}</h2></div>
            <div class="pull-right">
                <ul class="bread-crumb clearfix">
                    <li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
                    <li><a href="{% url 'services' %}">{% translate 'Services' %}</a></li>
                    <li>{% translate 'support' %}</li>
                </ul>
            </div>
        </div>
    </section>

    <!--Sidebar Page-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">


                <!--Sidebar-->
                <div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <aside class="sidebar">

                        <!--Sidebar Widget / Boxed Nav-->
                        {% include 'services-side.html' with support="current" only %}

                        <!--Sidebar Widget / Downloads-->
                        <div class="widget sidebar-widget downloads">
                            <div class="sidebar-title"><h3>{% translate 'Our Brochures' %}</h3></div>
                            <ul>
                                <li class="haman_left"><a href="#"><span class="icon fa fa-file-pdf-o"></span> Download.Pdf</a></li>
                                <li class="haman_left"><a href="#"><span class="icon fa fa-file-word-o"></span> Download.Doc</a></li>
                            </ul>
                        </div>


                    </aside>
                </div><!--End Sidebar-->

                <!--Content Side-->

                <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    <!--Service Single-->
                    <section class="service-details">
                    	<!--Service Images-->
                        <div class="service-images">
                            <ul class="single-item-carousel">
                                <li><figure class="image-box"><a href="{% static 'haman/images/resource/services/b posh1.jpg' %}" class="lightbox-image" title="Image Caption Here"><img src="{% static 'haman/images/resource/services/b posh1.jpg' %}" alt="support photo"></a></figure></li>
                                <li><figure class="image-box"><a href="{% static 'haman/images/resource/services/b posh2.jpg' %}" class="lightbox-image" title="Image Caption Here"><img src="{% static 'haman/images/resource/services/b posh2.jpg' %}" alt="support photo"></a></figure></li>
                                <li><figure class="image-box"><a href="{% static 'haman/images/resource/services/b posh3.jpg' %}" class="lightbox-image" title="Image Caption Here"><img src="{% static 'haman/images/resource/services/b posh3.jpg' %}" alt="support photo"></a></figure></li>


                            </ul>
                        </div>

                       	<div class="sec-title"><h2>{% translate 'Support' %}</h2></div>
                        <!--Text Content-->
                        <div class="text-content">
                            <h3>{% translate 'Specialized support and free consultation; a professional team by your side' %}</h3>
                        	<p>{% translate "We understand that making smart and successful decisions on any project requires accurate information and professional support. That's why we have assembled a team of experienced and professional professionals to be with you at every stage of the collaboration. Our goal is to provide services that exceed your expectations and create a different and reliable experience." %}</p>
                            <h3>{% translate 'Why is expert advice and support important?' %}</h3>
                            <p>{% translate "In today's complex world, making the right choices can make a big difference. We are here to help you make the best decisions and complete your projects with confidence and success by providing expert advice and full support." %}</p>
                            <h3>{% translate 'Benefits of our consulting and support services' %}</h3>
                            <h4>{% translate 'Expert and experienced team:' %}</h4>
                            <p>{% translate 'Our team consists of experts with years of experience in various industries who provide you with their knowledge and skills. This team specializes in areas such as raw material supply, petrochemical industries, food, and refinery products.' %}</p>
                            <h4>{% translate 'Free and professional advice:' %}</h4>
                            <p>{% translate 'We are committed to providing free, targeted advice. Whether you are looking for basic information or need detailed guidance on product selection, our team is ready to guide you with a friendly and professional approach.' %}</p>
                            <h4>{% translate 'Support at all stages:' %}</h4>
                            <p>{% translate 'From the moment you place your order to the final delivery, our support team is always by your side. Whatever questions or challenges you may have, we are ready to answer and resolve them.' %}</p>
                            <h4>{% translate 'Complete transparency in communication:' %}</h4>
                            <p>{% translate 'We believe that transparent and honest communication is the foundation of a successful partnership. At every stage, we provide you with accurate and complete information about the process, schedule, and costs.' %}</p>
                            <h4>{% translate 'Providing customized solutions:' %}</h4>
                            <p>{% translate "Every project has its own unique needs. By carefully understanding your needs, we provide customized solutions tailored to your project's circumstances." %}</p>
                            <h4>{% translate 'Training and empowerment:' %}</h4>
                            <p>{% translate 'In addition to consulting, we provide you with the information you need to make better, more informed decisions in the future. Our goal is to empower you for greater success.' %}</p>
                            <h3>{% translate 'A different experience of professional collaboration' %}</h3>
                            <p>{% translate "Our team doesn't just provide services; we seek to build lasting and trusting relationships with our clients. The experience of working with us is a combination of expertise, commitment, and unparalleled support that guarantees your satisfaction and confidence." %}</p>
                            <h3>{% translate 'Cooperation with us; a step towards success' %}</h3>
                            <p>{% translate 'We believe that every client deserves the best service. By choosing our consulting and support services, you can be sure that a team of experts and professionals is by your side, ready to pave the way for success.' %}</p>
                            <h4>{% translate 'For more information and a free consultation, contact us today. A brighter and more successful future awaits you!' %}</h4>
                        </div>

                        <!--Service Types-->
                        <div class="service-types">
                        	<div class="row clearfix">
                            	<!--Service Type-->
                                <div class="service-type col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                	<div class="inner-box">
                                    	<figure class="image-box"><img src="{% static 'haman/images/resource/services/posh1.jpg' %}" alt="{% translate 'support photo' %}"></figure>
                                        <div class="lower-content">
                                            <ul class="list-style-one">
                                            	<li>{% translate "In today's complex world, making the right choices can make a big difference." %}</li>
                                                <li>{% translate 'We will help you by providing expert advice and full support.' %}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!--Service Type-->
                                <div class="service-type col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                	<div class="inner-box">
                                    	<figure class="image-box"><img src="{% static 'haman/images/resource/services/posh2.jpg' %}" alt="{% translate 'support photo' %}"></figure>
                                        <div class="lower-content">
                                            <ul class="list-style-one">
                                            	<li>{% translate 'You can entrust your projects to us with peace of mind.' %}</li>
                                                <li>{% translate 'Our team consists of experts with years of experience in various industries.' %}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!--Service Type-->
                                <div class="service-type col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                	<div class="inner-box">
                                    	<figure class="image-box"><img src="{% static 'haman/images/resource/services/posh3.jpg' %}" alt="{% translate 'support photo' %}"></figure>
                                        <div class="lower-content">
                                            <ul class="list-style-one">
                                            	<li>{% translate 'We can provide you with specialized support in the fields of petrochemicals, refining and food.' %}</li>
                                                <li>{% translate 'We are committed to providing free and targeted advice.' %}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>



                        <!--Get Quote-->
                        <div class="get-quote">
                            <div class="sec-title medium"><h2>{% translate 'Get a free consultation' %}</h2></div>
                                <div class="row clearfix">
                                    <!--Content COlumn-->
                                    <!--Form Column-->
                                    <div class="column col-lg-8 col-md-12 col-sm-12 col-xs-12">
                                        <!--form-box-->
                                        <div class="form-box default-form">
                                            <div class="contact-form default-form">
                                                <form method="post" action="{% url 'savemessages' %}" id="mform">
                                                    <div class="row clearfix">
                                                            {% csrf_token %}
                                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                            <input type="text" name="subject" value="" placeholder="{% translate 'subject' %}">
                                                        </div>

                                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                            <input type="text" name="username" value="" placeholder="{% translate 'Your Name *' %}" required>
                                                        </div>

                                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                            <input type="email" name="email" value="" placeholder="{% translate 'Your Mail *' %}" required>
                                                        </div>

                                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                            <input type="text" name="number" value="" placeholder="{% translate 'Phone Number' %}">
                                                        </div>

                                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                            <textarea name="message" placeholder="{% translate 'Message *' %}"></textarea>
                                                        </div>
                                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                            <button type="submit" class="theme-btn btn-style-two">{% translate 'Get Quote' %}</button>
                                                        </div>
                                                        <div id="response">

                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>

                    </section>
                </div><!--End Content Side-->

            </div>
        </div>
    </div>


{% endblock body %}

{% block escript %}
    <script>

        $(document).ready(function() {

            $('#mform').on('submit', function(event) {

                {#event.preventDefault(); // Prevent the default form submission#}


                $.ajax({

                    type: 'POST',

                    url: '{% url "savemessages" %}',  // Replace with your view's URL

                    data: $(this).serialize(), // Serialize the form data

                    success: function(response) {

                        if (response.success) {

                            $('#response').html('<p>' + response.message + '</p>');

                        } else {

                            $('#response').html('<p>Error: ' + JSON.stringify(response.errors) + '</p>');

                        }

                    },

                    error: function(xhr, status, error) {

                        $('#response').html('<p>An error occurred: ' + error + '</p>');

                    }

                });

            });

        });

    </script>
{% endblock %}


{% if footerblogs %}
    {% block blogs %}
        {% if LANGUAGE_CODE == "fa" %}
            {% for footernew in footerblogs %}
                <div class="post">
                    <figure class="post-thumb"><img src="{{ footernew.blog.avatar.url }}" alt="{{ footernew.blog.title_persian }}"><a href="{% url 'blogsdetail' slug=footernew.blog.persian_slug %}" class="overlay-link"><span class="flaticon-plus-1"></span></a></figure>
                    <div class="desc-text"><a href="{% url 'blogsdetail' slug=footernew.blog.persian_slug %}">{{ footernew.blog.title_persian | truncatewords:6}}</a></div>
                    <div class="time"><span class="fa fa-clock-o"></span> {{ footernew.blog.time_created }}</div>
                </div>
            {% endfor %}
        {% elif LANGUAGE_CODE == "en" %}
            {% for footernew in footerblogs %}
                <div class="post">
                    <figure class="post-thumb"><img src="{{ footernew.blog.avatar.url }}" alt="{{ footernew.blog.title_english }}"><a href="{% url 'blogsdetail' slug=footernew.blog.english_slug %}" class="overlay-link"><span class="flaticon-plus-1"></span></a></figure>
                    <div class="desc-text"><a href="{% url 'blogsdetail' slug=footernew.blog.english_slug %}">{{ footernew.blog.title_english | truncatewords:6}}</a></div>
                    <div class="time"><span class="fa fa-clock-o"></span> {{ footernew.blog.time_created }}</div>
                </div>
            {% endfor %}
        {% else %}
            {% for footernew in footerblogs %}
                <div class="post">
                    <figure class="post-thumb"><img src="{{ footernew.blog.avatar.url }}" alt="{{ footernew.blog.title_arabic }}"><a href="{% url 'blogsdetail' slug=footernew.blog.arabic_slug %}" class="overlay-link"><span class="flaticon-plus-1"></span></a></figure>
                    <div class="desc-text"><a href="{% url 'blogsdetail' slug=footernew.blog.arabic_slug %}">{{ footernew.blog.title_arabic | truncatewords:6}}</a></div>
                    <div class="time"><span class="fa fa-clock-o"></span> {{ footernew.blog.time_created }}</div>
                </div>
            {% endfor %}
        {% endif %}
    {% endblock blogs %}
{% endif %}

{% if footernews %}
    {% block news %}
        {% if LANGUAGE_CODE == "fa" %}
            {% for footernew in footernews %}
                <div class="post">
                    <figure class="post-thumb"><img src="{{ footernew.news.avatar.url }}" alt="{{ footernew.news.title_persian }}"><a href="{% url 'newsdetail' slug=footernew.news.persian_slug %}" class="overlay-link"><span class="flaticon-plus-1"></span></a></figure>
                    <div class="desc-text"><a href="{% url 'newsdetail' slug=footernew.news.persian_slug %}">{{ footernew.news.title_persian | truncatewords:6}}</a></div>
                    <div class="time"><span class="fa fa-clock-o"></span> {{ footernew.news.time_created }}</div>
                </div>
            {% endfor %}
        {% elif LANGUAGE_CODE == "en" %}
            {% for footernew in footernews %}
                <div class="post">
                    <figure class="post-thumb"><img src="{{ footernew.news.avatar.url }}" alt="{{ footernew.news.title_english }}"><a href="{% url 'newsdetail' slug=footernew.news.english_slug %}" class="overlay-link"><span class="flaticon-plus-1"></span></a></figure>
                    <div class="desc-text"><a href="{% url 'newsdetail' slug=footernew.news.english_slug %}">{{ footernew.news.title_english | truncatewords:6}}</a></div>
                    <div class="time"><span class="fa fa-clock-o"></span> {{ footernew.news.time_created }}</div>
                </div>
            {% endfor %}
        {% else %}
            {% for footernew in footernews %}
                <div class="post">
                    <figure class="post-thumb"><img src="{{ footernew.news.avatar.url }}" alt="{{ footernew.news.title_arabic }}"><a href="{% url 'newsdetail' slug=footernew.news.arabic_slug %}" class="overlay-link"><span class="flaticon-plus-1"></span></a></figure>
                    <div class="desc-text"><a href="{% url 'newsdetail' slug=footernew.news.arabic_slug %}">{{ footernew.news.title_arabic | truncatewords:6}}</a></div>
                    <div class="time"><span class="fa fa-clock-o"></span> {{ footernew.news.time_created }}</div>
                </div>
            {% endfor %}
        {% endif %}
    {% endblock news %}
{% endif %}


